# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# LaTeX bibliography files
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# LaTeX build outputs
*.dvi
*.fdb_latexmk
*.fls
*.synctex.gz
*.synctex(busy)
*.pdfsync

# LaTeX beamer
*.nav
*.pre
*.snm
*.vrb

# LaTeX glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs

# LaTeX indexes
*.idx
*.ilg
*.ind

# LaTeX hyperref
*.figlist
*.makefile
*.figlist
*.makefile

# LaTeX listings
*.lol

# LaTeX nomenclature
*.nlg
*.nlo
*.nls

# LaTeX glossaries-extra
*.ist
*.xdy

# LaTeX changes tracking
*.soc

# LaTeX translation
*.fdb_latexmk

# LaTeX algorithm2e
*.alg
*.loa

# LaTeX achemso
acs-*.bib

# LaTeX amsthm
*.thm

# LaTeX beamer
*.nav
*.pre
*.snm
*.vrb

# LaTeX biber
*.bbl
*.bcf
*.blg
*.run.xml

# LaTeX changes
*.soc

# LaTeX cprotect
*.cpt

# LaTeX elsarticle
*.spl

# LaTeX endnotes
*.ent

# LaTeX fixme
*.lox

# LaTeX floatrow
*.fff
*.ttt

# LaTeX glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs

# LaTeX gnuplottex
*-gnuplottex-*

# LaTeX gregoriotex
*.gaux
*.gtex

# LaTeX htlatex
*.4ct
*.4tc
*.idv
*.lg
*.tmp
*.xref

# LaTeX hyperref
*.brf

# LaTeX knitr
*-concordance.tex

# LaTeX listings
*.lol

# LaTeX ltxdoc
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg

# LaTeX makeidx
*.idx
*.ilg
*.ind

# LaTeX minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# LaTeX minted
_minted*
*.pyg

# LaTeX morewrites
*.mw

# LaTeX nomencl
*.nlg
*.nlo
*.nls

# LaTeX pax
*.pax

# LaTeX pdfpcnotes
*.pdfpc

# LaTeX pythontex
*.pytxcode
pythontex-files-*/

# LaTeX sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# LaTeX scrwfile
*.wrt

# LaTeX splitidx
*.sbl
*.slo

# LaTeX sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# LaTeX TikZ & PGF
*.auxlock
*.figlist
*.makefile

# LaTeX todonotes
*.tdo

# LaTeX vhistory
*.hst
*.ver

# LaTeX xindy
*.xdy

# LaTeX xmpincl
*.xmpi

# LaTeX YHMath
*.upa
*.upb

# LaTeX xr
*.fls

# Build directories and files
build/
dist/
*.pdf

# OS generated files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor files
*.swp
*.swo
*~
.vscode/
.idea/

# Archive files (often used for backups)
*.zip
*.tar.gz
*.rar

# Temporary files
*.tmp
*.temp